{
   "presets": [
      [
         "env",
         {
            "modules": false
         }
      ],
      ["flow"]
   ],
   "env": {
      "test": {
         "presets": [
            [
               "env",
               {
                  "debug": true
               }
            ],
            ["flow"]
         ]
      }
   },
   "retainLines": true
}