{
   "presets": [
      [
         "env",
         {
            "debug": true,
            "modules": false
         }
      ],
      ["flow"]
   ],
   "env": {
      "test": {
         "presets": [
            ["env"],
            ["flow"]
         ]
      }
   },
   "retainLines": true
}